Schemas/old/logisticsordermanagement.supplypartnermanagement.tmobile.cz.ws.services.wmsdeliverymanagement.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://logisticsordermanagement.supplypartnermanagement.tmobile.cz/ws/services/wmsdeliverymanagement" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://logisticsordermanagement.supplypartnermanagement.tmobile.cz/ws/services/wmsdeliverymanagement" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://logisticsordermanagement.supplypartnermanagement.tmobile.cz/ws/services/wmsdeliverymanagement/Imports">
      <xsd:import schemaLocation="http://localhost:53827/WMS.svc?xsd=xsd0" namespace="http://logisticsordermanagement.supplypartnermanagement.tmobile.cz/ws/services/wmsdeliverymanagement" />
      <xsd:import schemaLocation="http://localhost:53827/WMS.svc?xsd=xsd1" namespace="http://messaging.ei.tmobile.net/datatypes" />
      <xsd:import schemaLocation="http://localhost:53827/WMS.svc?xsd=xsd2" namespace="http://logisticsordermanagement.supplypartnermanagement.tmobile.cz/ws/datatypes/wmsdeliverymanagement" />
      <xsd:import schemaLocation="http://localhost:53827/WMS.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="notifyPackageStatusRequest">
    <wsdl:part name="parameters" element="tns:notifyPackageStatus" />
  </wsdl:message>
  <wsdl:message name="notifyPackageStatusResponse">
    <wsdl:part name="parameters" element="tns:notifyPackageStatusOutput" />
  </wsdl:message>
  <wsdl:message name="WMSDeliveryManagementService_notifyPackageStatus_TechnicalExceptionElement_FaultMessage">
    <wsdl:part name="detail" element="tns:TechnicalExceptionElement" />
  </wsdl:message>
  <wsdl:message name="receiveCourierLabelRequest">
    <wsdl:part name="parameters" element="tns:receiveCourierLabel" />
  </wsdl:message>
  <wsdl:message name="receiveCourierLabelResponse">
    <wsdl:part name="parameters" element="tns:receiveCourierLabelOutput" />
  </wsdl:message>
  <wsdl:message name="WMSDeliveryManagementService_receiveCourierLabel_TechnicalExceptionElement_FaultMessage">
    <wsdl:part name="detail" element="tns:TechnicalExceptionElement" />
  </wsdl:message>
  <wsdl:portType name="WMSDeliveryManagementService">
    <wsdl:operation name="notifyPackageStatus">
      <wsdl:input wsaw:Action="/webservices/WMSDeliveryManagement/notifyPackageStatus" name="notifyPackageStatusRequest" message="tns:notifyPackageStatusRequest" />
      <wsdl:output wsaw:Action="http://logisticsordermanagement.supplypartnermanagement.tmobile.cz/ws/services/wmsdeliverymanagement/WMSDeliveryManagementService/notifyPackageStatusResponse" name="notifyPackageStatusResponse" message="tns:notifyPackageStatusResponse" />
      <wsdl:fault wsaw:Action="/webservices/WMSDeliveryManagement/notifyPackageStatus" name="TechnicalExceptionElement" message="tns:WMSDeliveryManagementService_notifyPackageStatus_TechnicalExceptionElement_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="receiveCourierLabel">
      <wsdl:input wsaw:Action="/webservices/WMSDeliveryManagement/receiveCourierLabel" name="receiveCourierLabelRequest" message="tns:receiveCourierLabelRequest" />
      <wsdl:output wsaw:Action="http://logisticsordermanagement.supplypartnermanagement.tmobile.cz/ws/services/wmsdeliverymanagement/WMSDeliveryManagementService/receiveCourierLabelResponse" name="receiveCourierLabelResponse" message="tns:receiveCourierLabelResponse" />
      <wsdl:fault wsaw:Action="/webservices/WMSDeliveryManagement/receiveCourierLabel" name="TechnicalExceptionElement" message="tns:WMSDeliveryManagementService_receiveCourierLabel_TechnicalExceptionElement_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>